/* Styling for the home page */
body.home {

    div.header {
        height: 510px;
        background: url('/images/blur-bg.jpg') no-repeat center center;
        background-size: cover;
        border: 0;

        #search-form {
            float: right;
            margin: 2px 20px 0 0;

            input {
                background: black url('/images/search-icon-splash.png') no-repeat 14px 12px;
                border: 0;
                border-radius: 20px;
                color: $blue;
                font-weight: normal;
                font-size: 14px;
                height: 22px;
                left: 0;
                line-height: 22px;
                outline: none;
                padding: 10px 10px 10px 40px;
                top: 2px;
                width: 275px;
                z-index: 10;

                @include sans();
                @include placeholder {
                    color: $blue;
                }
                &.open {
                    border-radius: 16px 16px 0 0;
                    padding-bottom: 4px;
                }
                &:focus, &:hover {
                    background-color: black;
                }
            }
        }

        div.social {
            background: black;
            background: rgba(0, 0, 0, 0.25);

            >div.inner {
                width: 1100px;
                margin: 0 auto;
                overflow: auto;
                padding: 15px 0;

                p {
                    color: #e0e0e0;
                    float: left;
                    font-size: 15px;
                    margin: 10px 0 0 0;
                }
                a.social {
                    display: block;
                    float: right;
                    height: 46px;
                    width: 46px;
                    margin: 0 0 0 6px;
                    border-radius: 23px;
                    background: #9d9c9b url('/images/social-bugs.png') 0px 0px no-repeat;
                    &.twitter {
                        background-position: 0px 0px;
                        &:hover {
                            -ms-background-position: 0px -46px;
                            background-position: 0px -46px;
                        }
                    }
                    &.facebook {
                        background-position: -46px 0px;
                        &:hover {
                            -ms-background-position: -46px -46px;
                            background-position: -46px -46px;
                        }
                    }
                    &.newsletter {
                        background-position: -92px 0px;
                        &:hover {
                            -ms-background-position: -92px -46px;
                            background-position: -92px -46px;
                        }
                    }
                    &:hover {
                        background-color: $blue;
                        @include transition();
                    }
                }
            }
        }
        div.taglines {
            margin: 0 auto;
            padding: 95px 0 124px 0;
            height: 215px;
            width: 1100px;
            text-shadow: 1px 1px 2px rgba(0,0,0, 1);

            >h1 {
                color: #d0d0d0; 
                float: left;
                font-size: 40px;
                font-weight: 100;
                width: 660px;
                margin: 32px 0 0 0;
                line-height: 48px;
                @include sans();
                strong {
                    font-weight: 400;
                    color: #f0f0f0;
                }
            }
            >img.logo {
                display: block;
                float: left;
                height: 142px; 
                margin: 8px 52px 65px 100px;
                width: 224px;
            }
            >p {
                color: #c0c0c0;
                float: left;
                margin: 28px 10px 0 0;
                width: 224px;
                font-size: 14px;
                text-align: right;
                line-height: 18px;
            }
            >a.steam {
                background: url('/images/steam-openid-login-custom.png') no-repeat center -11px;
                display: inline-block;
                width: 200px;
                height: 70px;
                margin: 22px 0 0 0;
                &:hover {

                    background-position: center -101px;
                }
            }
            >.privacy {
                text-align: right;
                margin: 4px 296px 0 0;

                >a {
                    color: #c0c0c0;
                    font-size: 12px;
                    padding: 0 4px 0 0;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    } 

    ul.dropdown-menu {
        width: 303px;
        background: black;
        border-color: black;
    }

    div.container {
        background: url('/images/grid-bg.png');
        height: 580px; 
        overflow: auto;

        >div.inner {
            height: 580px;
            margin: 0 auto;
            position: relative;
            width: 1100px;
            

            div.explain-1,
            div.explain-2,
            div.explain-3 {
                float: left;
                padding: 80px 20px;
                text-align: center;
                width: 326px;

                strong {
                    font-size: 18px;
                    font-weight: 600;
                }
                p {
                    color: #404040;
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 18px;
                    margin: 4px 0; 
                }
                img {
                    display: block;
                    margin: 35px auto;
                }
            }
            div.explain-2 {
                padding-top: 140px;
            }
        }
    }

    div.tooltip {
        font-size: 14px;
        text-align: left;

        .tooltip-inner {
            line-height: 16px;
            max-width: 250px;
            padding: 14px 16px;
            text-align: left;

            a {
                color: black;
                font-weight: bold;
            }
        }
    }
}
