div.header {
    article.accept-invitation {
        padding: 17px 0 20px;

        div.title {
            div.actions {
                height: 18px;
                margin: 0;
            }
            h1 {
                margin: 3px 0 0;
            }
        }
    }
}
div.container {
    article.accept-invitation {
        padding: 60px 0 80px;
    }
}

article.accept-invitation {
    overflow: auto;

    .invitation {
        text-align: center;

        .details {
            display: inline-block;
            margin-right: 40px; 
        }

        a.sign-in {
            background: url('http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_border.png') no-repeat center top; 
            display: inline-block;
            height: 51px;
            width: 118px;
            margin: 4px 0 0;
        }
        form {
            display: block;
            text-align: left;

            input[type="submit"] {
                background: $blue;
                border: 1px solid darken($blue, 10%);
                border-radius: 4px;
                color: white;
                cursor: pointer;
                font-size: 14px;
                padding: 8px 10px;
                margin: 0 0 0 364px;
                
                &:hover {
                    background: black;
                    border-color: black;
                }
            }
            a {
                font-size: 14px;
                background: #e9e9e9;
                border: 1px solid #d9d9d9;
                border-radius: 4px;
                color: #606060;
                padding: 8px 10px;
                margin: 0 0 0 10px;
                text-decoration: none;

                &:hover {
                    background: black;
                    border-color: black;
                    color: white;
                }
            }
        }

        .wrap {
            display: inline-block;
            margin: 6px 0;
        }

        p {
            color: #303030;
            text-align: left;
        }
        ul {
            padding-left: 30px;
            text-align: left;
            margin: 4px 0;
            li {
                color: #606060; 
            }
        }

        h2 {
            color: #303030;
            font-size: 40px;
            text-align: center;

            span {
                color: $green;
                font-size: 40px;
                font-weight: normal;
                margin: 0 20px;
            }
        }
    }
}
